<!doctype html>
<title>Bermuda Triangle</title>
<h1>Upload a .ssc file to normalize its scroll rate!</h1>

<p>
This is a tiny tool that modifies StepMania 5 stepcharts with BPM changes so they scroll at a constant rate, even when played using an x-mod or m-mod.
It calculates a target reading bpm based on the max DISPLAYBPM if present, or max BPM otherwise, and then applies SCROLL changes so slower BPM
segments all scroll at that target reading speed. Note that any existing SCROLL changes in the file will be replaced!
</p>
<form method=post enctype=multipart/form-data>
  <input type=file name=sscfile>
  <input type=submit value=Upload>
</form>
<p>
This tool builds on top of Ash's incredible <a href="https://github.com/garcia/simfile">simfile</a> library.
It was made by <a href="https://mobile.twitter.com/bkirz">@bkirz</a>. The source code is available <a href="https://github.com/bkirz/scroll-normalizer">on GitHub</a>.
</p>
