<!doctype html>
<title>Bermuda Triangle | make mines fake</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<header>
  <b>Bermuda △ Triangle</b>
  <nav>
    Stepartist tools:
    {% block navigation %}
      <a href="/scroll-normalizer">scroll normalizer</a>
      |
      <a href="/fake-mines">make mines fake</a>
    {% endblock %}
  </nav>
</header>

<main>
  <h1>{% block headline %}{% endblock %}</h1>
  <section>{% block description %}{% endblock %}</section>
  <section>
    {% with messages = get_flashed_messages() %}
      {% for message in messages %}
        <div class="alert alert-danger">
           {{ message|e }}
        </div>
      {% endfor %}
    {% endwith %}
    {% block custom_errors %}{% endblock %}
  </section>
  <section>{% block input %}{% endblock %}</section>
</main>

<footer>
  <p>
    bermudatriangle.tech was made by <a href="https://bsky.app/profile/bkirz.bsky.social">@bkirz</a>
    and <a href="https://meow.garden/">@ashastral</a>
    and builds on top of the <a href="https://github.com/garcia/simfile">simfile</a> library for Python.
    <br/>
    Its source code is available <a href="https://github.com/bkirz/bermuda-triangle">on GitHub</a>.
  </p>
</footer>
