{% extends "base.html.jinja" %}

{% block navigation %}
  <a href="/scroll-normalizer">scroll normalizer</a>
  |
  <b>make mines fake</b>
{% endblock %}

{% block headline %}
  Upload a .ssc file to make its mines fake!
{% endblock %}

{% block description %}
  <p>
    This tiny tool modifies StepMania 5 stepcharts with short fake segments
    so that mines never trigger during gameplay.
  </p>
  <p>
    If there are problems with your file,
    you'll get an error message.
    You can work around most errors using the checkboxes.
    Note that these checkboxes enable behavior
    that may be unintuitive to you or your player base!
  </p>
{% endblock %}

{% block custom_errors %}
  {% if same_beat_error %}
      <div class="alert alert-danger">
        There are simultaneous mines and notes in your file;
        you will have to either update the chart or opt into
        certain behavior in order to remedy this error.<br /><br />
        {% if same_beat_error.must_allow_simultaneous %}
          Simultaneous mine & note in the same chart (ignore with 'Allow simultaneous note & mine'):<br />
          <ul>
            {% for same_beat_mine_and_note in same_beat_error.must_allow_simultaneous %}
              <li>{{ same_beat_error._stringify_simultaneous(same_beat_mine_and_note) }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {% if same_beat_error.must_allow_split_timing %}
          Simultaneous mine & note in different charts (ignore with 'Allow split timing'):<br />
          <ul>
            {% for same_beat_mine_and_note in same_beat_error.must_allow_split_timing %}
              <li>{{ same_beat_error._stringify_simultaneous(same_beat_mine_and_note) }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
  {% endif %}
{% endblock %}

{% block input %}
<form method=post enctype=multipart/form-data>
  <input type=file name=sscfile>
  <br /><br />
  <input type=checkbox name=allow_split_timing id=allow_split_timing>
  <label for=allow_split_timing>Allow split timing (if necessary to avoid simultaneous note & mine on different charts)</label>
  <br />
  <input type=checkbox name=allow_simultaneous id=allow_simultaneous>
  <label for=allow_simultaneous>Allow simultaneous note & mine on same chart (will <b>not</b> be turned fake)</label>
  <br /><br />
  <input type=submit value=Upload>
</form>
{% endblock %}
